@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangxia1:before { content: "\e6d2"; }
.icon-xiangxia2:before { content: "\e63f"; }
.icon-xiangshang:before { content: "\e640"; }
.icon-xiangxia3:before { content: "\e644"; }
.icon-xiangxia4:before { content: "\e667"; }
.icon-xiangxia:before { content: "\e63e"; }
.icon-shijian:before { content: "\e88f"; }
.icon-touzilicaifenxi:before { content: "\e743"; }
.icon-jingwainiandushouxin:before { content: "\e63c"; }
.icon-jingneiniandushouxin:before { content: "\e63d"; }
.icon-wenjianjiaguanbi:before { content: "\e679"; }
.icon-wenjian:before { content: "\e643"; }
.icon-wenjianjia:before { content: "\e75b"; }
.icon-tongxunlu:before { content: "\e66e"; }
.icon-goutongcengji:before { content: "\e63b"; }
.icon-kehuchaxun:before { content: "\e637"; }
.icon-shouxinchaxun:before { content: "\e63a"; }
.icon-chanpinkanban:before { content: "\e634"; }
.icon-zhuanhualvbaobiao:before { content: "\e67f"; }
.icon-chanyekanban:before { content: "\e647"; }
.icon-chanpinyunyingshuju:before { content: "\e635"; }
.icon-jingxiaoshang:before { content: "\ecbc"; }
.icon-gongyingshang:before { content: "\e636"; }

.icon-pengyouquan:before {
  content: "\e606";
}
.icon-icon:before {
  content: "\e610";
}

.icon-edu:before {
  content: "\e612";
}

.icon-tripshezhishi:before {
  content: "\e61e";
}

.icon-huidingbu:before {
  content: "\e604";
}

.icon-zizhi:before {
  content: "\e6c9";
}

.icon-1287huiyijiyao:before {
  content: "\ecbb";
}

.icon-iconfontxiangqingicon:before {
  content: "\e603";
}

.icon-pengyouquan21:before {
  content: "\e632";
}

.icon-1-copy:before {
  content: "\e61a";
}

.icon-iconfont:before {
  content: "\e621";
}

.icon-1:before {
  content: "\e622";
}

.icon-iconset0203:before {
  content: "\e666";
}

.icon-add:before {
  content: "\e6a1";
}

.icon-kehu:before {
  content: "\e683";
}

.icon-pengyouquan2:before {
  content: "\e6a2";
}

.icon-piaojuguanli:before {
  content: "\e609";
}

.icon-chakan:before {
  content: "\e6ab";
}

.icon-lianxidianhua:before {
  content: "\e61c";
}

.icon-chenggong-copy:before {
  content: "\e60c";
}

.icon-sousuo2:before {
  content: "\e6c6";
}

.icon-fanhui-copy:before {
  content: "\e62d";
}

.icon-22kehuguanxi:before {
  content: "\e668";
}

.icon-kanban:before {
  content: "\e60d";
}

.icon-wsmp-annualreports:before {
  content: "\e613";
}

.icon-kaihuxingxinxi:before {
  content: "\e638";
}

.icon-jingyingxinxi01:before {
  content: "\e671";
}

.icon-ribao:before {
  content: "\e65c";
}

.icon-qianjin-copy:before {
  content: "\e60a";
}

.icon-xintuo:before {
  content: "\e64e";
}

.icon-jiedai:before {
  content: "\e67b";
}

.icon-fanhui:before {
  content: "\e60b";
}

.icon-fanhui1:before {
  content: "\e626";
}

.icon-rongzi:before {
  content: "\e672";
}

.icon-cancel:before {
  content: "\e608";
}

.icon-piaoju:before {
  content: "\e655";
}

.icon-xuqiu:before {
  content: "\e641";
}

.icon-jijin:before {
  content: "\e61d";
}

.icon-zengjiayuangong:before {
  content: "\e627";
}

.icon-shenpi:before {
  content: "\e625";
}

.icon-sousuo:before {
  content: "\e600";
}

.icon-fanhui2:before {
  content: "\e6d6";
}

.icon-sousuo1:before {
  content: "\e719";
}

.icon-shanchu:before {
  content: "\e642";
}

.icon-KPI:before {
  content: "\e81b";
}

.icon-xinzeng:before {
  content: "\e82c";
}

.icon-chenggong:before {
  content: "\e65d";
}

.icon-jigou:before {
  content: "\e623";
}

.icon-xiaoshoujilu:before {
  content: "\e6cc";
}

.icon-gongzuojihua:before {
  content: "\e709";
}

.icon-cang:before {
  content: "\e618";
}

.icon-shutiao-:before {
  content: "\e7af";
}

.icon-fanhui3:before {
  content: "\e60e";
}

.icon-quxiao:before {
  content: "\e639";
}

.icon-baoxian:before {
  content: "\e61f";
}

.icon-yuqiweishou:before {
  content: "\e620";
}

.icon-kehu1:before {
  content: "\e601";
}

.icon-xiangqing:before {
  content: "\e649";
}

.icon-quxiao1:before {
  content: "\e60f";
}

.icon-chuyidong:before {
  content: "\e617";
}

.icon-kehuxinxi:before {
  content: "\e616";
}

.icon-gonggao:before {
  content: "\e61b";
}

.icon-yonghu:before {
  content: "\e615";
}

.icon-tixing:before {
  content: "\e6b9";
}

.icon-piaojuguanli1:before {
  content: "\e614";
}

.icon-arrow-up:before {
  content: "\e605";
}

.icon-shouye:before {
  content: "\e602";
}

.icon-shouyexuanzhong:before {
  content: "\e619";
}

.icon-falvsusonghecha:before {
  content: "\e628";
}

.icon-quxiao2:before {
  content: "\e646";
}

.icon-kehu2:before {
  content: "\e624";
}

.icon-zhucezibenjiguquanjiegou:before {
  content: "\e631";
}

.icon-shezhi:before {
  content: "\e69d";
}

.icon-chenggong1:before {
  content: "\e69c";
}

.icon-huankuan:before {
  content: "\e629";
}

.icon-yewujichuxinxi:before {
  content: "\e611";
}

.icon-quanshangziguan:before {
  content: "\e62a";
}

.icon-kehuxinxi1:before {
  content: "\e607";
}

.icon-shanchu1:before {
  content: "\e62e";
}

.icon-renhangzhengxin:before {
  content: "\e662";
}

.icon-businessinfor:before {
  content: "\e68b";
}

.icon-gerenmenhu:before {
  content: "\e669";
}

.icon-quanbujindan:before {
  content: "\e633";
}

.icon-jiabao:before {
  content: "\e68d";
}

.icon-yingshoukaidan:before {
  content: "\e630";
}

.icon-kaidan:before {
  content: "\e62c";
}

.icon-zhuandan:before {
  content: "\e6a3";
}

.icon-rongzi:before {
  content: "\e672";
}

.icon-yingshourongzi:before {
  content: "\e62f";
}

.icon-huigou:before {
  content: "\e62b";
}
